src/flows/TFA-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>SMS</name>
        <label>Generate and send the code</label>
        <locationX>397</locationX>
        <locationY>126</locationY>
        <apexClass>SMSPlugin</apexClass>
        <connector>
            <targetReference>Get_Code</targetReference>
        </connector>
        <inputParameters>
            <name>AccountSid</name>
            <value>
                <stringValue>ACca32340063f6178f6c46a9f221be9dc0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>From</name>
            <value>
                <stringValue>8976202122</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Message</name>
        </inputParameters>
        <inputParameters>
            <name>To</name>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Token</name>
            <value>
                <stringValue>6e08a5acb77d042d7cb23d68f3b7512c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Status</assignToReference>
            <name>Status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VerificationCode</assignToReference>
            <name>VerificationCode</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Verify_Code</name>
        <label>Verify Code</label>
        <locationX>641</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Code</elementReference>
                </rightValue>
            </conditions>
            <label>valid</label>
        </rules>
    </decisions>
    <interviewLabel>TFA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TFA</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Userlookup</name>
        <label>Userlookup</label>
        <locationX>193</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SMS</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Mobile</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Get_Code</name>
        <label>Get Code</label>
        <locationX>629</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Code</targetReference>
        </connector>
        <fields>
            <name>code1</name>
            <dataType>String</dataType>
            <fieldText>Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Userlookup</startElementReference>
    <variables>
        <name>Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
